<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- real -->
	<bean id="defaultSqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="defaultDataSource" />
		<property name="configLocation" value="classpath:/kr/freedi/dev/sqlmap/sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:/kr/freedi/dev/sqlmap/default/*.xml" />
	</bean>
	
	<!-- dev -->
<!-- 	<bean id="defaultSqlSession-dev" class="kr.freedi.dev.common.config.RefreshableSqlSessionFactoryBean">
		<property name="dataSource" ref="defaultDataSource" />
		<property name="configLocation" value="classpath:/kr/freedi/dev/sqlmap/sql-map-config.xml" />
		<property name="mapperLocations" value="classpath*:/kr/freedi/dev/sqlmap/default/*.xml" />
	</bean> -->
	
<!-- 	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSession" />
	</bean> -->
	
	<!-- sqlSessionMapping -->
 	<bean id="defaultDAO" class="kr.freedi.dev.common.dao.DefaultDAO">
		<property name="sqlSessionFactory" ref="defaultSqlSession" />
	</bean>
	
	
</beans>
