<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="file" fileName="D:/Dev/log/dev_default.log" append="false">
			<PatternLayout pattern="%d %5p [%c] %m%n"/>
		</File>
		<RollingFile name="rollingFile" fileName="D:/Dev/log/dev_default_rolling.log" filePattern="D:/Dev/log/dev_default_rolling.log.%d{yyyy-MM-dd}" append="false">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="egovframework.rte.fdl" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.apache" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.directwebremoting" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.mybatis" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="com.googlecode.ehcache" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="net.sf.ehcache" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="java.sql" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.sqlonly" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="WARN" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Logger name="jdbc.audit" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.resultset" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.connection" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Logger name="kr.freedi.dev" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Logger name="com.opensymphony" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Root level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>